# /etc/systemd/system/nvml-prometheus-exporter.service
# Stolen pretty straightup from the arch linux prometheus node exporter unit file

[Unit]
Description=Prometheus exporter for NVML metrics
Requires=network-online.target
After=network-online.target

[Service]
User=node_exporter
Group=node_exporter
Restart=on-failure
ExecStart=/usr/local/bin/nvml-prometheus-exporter
NoNewPrivileges=true
ProtectHome=true
ProtectSystem=strict

[Install]
WantedBy=multi-user.target

